.projectDiv {
	margin: 50px auto 10px auto;
	max-width: 2000px;

	h1 {
		color: rgb(204, 120, 204);
	}

	.flexProject {
		margin: 80px 100px 80px 50px;

		.flexTop {
			display: flex;

			.projectImage {
				margin: auto;
				img {
					width: 75%;
				}
			}

			.projectDescrip1 {
				float: right;
				margin: auto 0 auto auto;
				width: 40%;
			}
		}

		.flexBot {
			display: flex;
			margin-top: 60px;

			.projectImage {
				margin: auto;
				width: 40%;
				img {
					width: 100%;
					min-width: 400px;
				}
			}

			.projectDescrip2 {
				float: right;
				margin: auto 0;
				width: 40%;
			}
		}
	}
}

@media only screen and (max-width: 1170px) {
	.projectDiv {
		.flexProject {
			margin: auto 30px;
			.flexTop {
				flex-direction: column;
				margin-top: 30px;

				.projectImage {
					img {
						min-width: 200px;
					}
				}

				.projectDescrip1 {
					float: none;
					margin: 20px auto auto auto;
					width: 80%;
				}
			}

			.flexBot {
				flex-direction: column;

				.projectImage {
					width: 100%;
					img {
						width: 80%;
						min-width: 200px;
						max-width: 600px;
					}
				}

				.projectDescrip2 {
					float: none;
					margin: 20px auto auto auto;
					width: 80%;
				}
			}
		}
	}
}
